---
---

@import "{{ site.theme }}";
#banner {
    z-index: 100;
    left: 0;
    right: 50%;
    height: 50px;
    margin-right: -382px;
    position: fixed;
    top: 115px;
    background: #ffcc00;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(241, 102, 37);
    border: 1px solid #f16625;
    border-top-color: rgb(241, 102, 37);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(241, 102, 37);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(241, 102, 37);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(241, 102, 37);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    border-radius: 0px 2px 2px 0px;
    padding-right: 10px;
}
header {
    padding: 25px 20px 40px 20px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background: url(../images/background.png) #4276b6;
    background-image: url(../images/background.png);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(109, 49, 21);
    box-shadow: 1px 0px 2px rgba(0,0,0,0.75);
    z-index: 99;
    -webkit-font-smoothing: antialiased;
    min-height: 76px;
}
